<div class="div" >
  <div class="div-card">
    <div>
      <img src="icon/cambio color.png" alt="No image" />
    </div>
    <div>
      <h4> Cambio de color</h4>
      <p> Los transformamos al tono que siempre quisiste. Resultados impecables y duraderos.</p>
    </div>
  </div>
  <div class="div-card">
    <div>
      <div>
        <img src="icon/domicilio.png" alt="No image">
      </div>
      <h4>Domicilio</h4>
      <p>Se realizan domicilios a diferentes puntos de la ciudad totalmente grátis </p>
    </div>
  </div>
   <div class="div-card">
    <div>
      <div>
        <img src="icon/new3.png" alt="No image">
      </div>
      <h4> Personalización</h4>
      <p> Agregamos hebillas, lazos, piedras o cambiámos el material. Hacemos tus zapatos únicos y a tu gusto.</p>
    </div>
  </div>
   <div class="div-card">
    <div>
      <div>
        <img src="icon/magic2.png" alt="No image">
      </div>
      <h4>Transformación total</h4>
      <p>¿Aburrida de tus zapatos? Los transformamos por completo: cambio de color, altura, material o diseño. ¡Parecerán nuevos!</p>
    </div>
  </div>
</div>
